x11-window-title=LXQt (Miriway)
idle-timeout=600

shell-component=dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY XDG_SESSION_TYPE XDG_CURRENT_DESKTOP

shell-alt=Space:lxqt-runner
shell-alt=F2:lxqt-runner
shell-meta=l:lxqt-leave --lockscreen

meta=p:pcmanfm-qt
meta=Return:qterminal
meta=f:featherpad

meta=Left:@dock-left
meta=Right:@dock-right
meta=Space:@toggle-maximized
meta=Home:@workspace-begin
meta=End:@workspace-end
meta=Page_Up:@workspace-up
meta=Page_Down:@workspace-down
ctrl-alt=BackSpace:@exit
ctrl-alt=Up:@toggle-always-on-top
